* {
  outline: none;
}

html, body {
  background: #000;
}

.editor-container {
  width: 400px;
}

#editor {
  background: #aaa;
  width: 400px;
  height: 300px;
  overflow: hidden;
  margin-top: 10px;
}

#editor p {
  margin: 2px 0;
}

.ql-editor {
  width: 100%;
  height: 100%;
}

.ql-clipboard {
  display: none;
}